<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/home">
      <img src="/favicon.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
      EcomStore
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center" *ngIf="authState$ | async as state">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li *ngIf="state.roles.includes('ADMIN')" class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
        </li>

        <ng-container *ngIf="state.authenticated; else loggedOut">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="accountDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle me-2"></i>
              {{ state.username || 'Account' }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">

              <li *ngIf="state.roles.includes('ADMIN')">
                <a class="dropdown-item" routerLink="/products">Admin Products</a>
              </li>

              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <button class="dropdown-item text-danger" (click)="handleLogout()">
                  <i class="bi bi-box-arrow-right me-2"></i>Logout
                </button>
              </li>
            </ul>
          </li>
        </ng-container>

        <ng-template #loggedOut>
          <li class="nav-item">
            <button class="btn btn-outline-light ms-lg-3" (click)="handleLogin()">
              Login
            </button>
          </li>
        </ng-template>

      </ul>
    </div>
  </div>
</nav>
